<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%10.30thread] %-5level [%15.-30C{0}] - %msg%n
            </pattern>
        </encoder>
        <target>System.err</target>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDERR"/>
    </root>
    <logger name="org.springframework" additivity="false" level="${org.springframework.level:-WARN}">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.fcrepo.client" additivity="false" level="WARN">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.dataconservancy.nihms" additivity="false" level="${org.dataconservancy.nihms.level:-DEBUG}">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.dataconservancy.pass" additivity="false" level="${org.dataconservancy.pass.level:-WARN}">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.dataconservancy.pass.deposit" additivity="false" level="${org.dataconservancy.pass.deposit.level:-DEBUG}">
        <appender-ref ref="STDERR"/>
    </logger>
</configuration>
