name: pass-docker-services Continuous Integration
on: [pull_request]

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  print-workflow-description:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is a CI build of branch ${{ github.ref }} in repository ${{ github.repository }}"
      - run: echo "This job was triggered by a ${{ github.event_name }} event and is running on a ${{ runner.os }} server"

  call-tests-unit:
    name: Run Automated Tests
    uses: eclipse-pass/pass-deposit-services/.github/workflows/tests-unit.yml@main
